.root {
  padding: 10px;
  height: 100%;
  border-radius:5px;
  border: 1px solid #CCC;
}

.videoControls {
  display: flex;
}

.chatInputWrapper, 
button:not(:last-child) {
  margin-right: 10px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.videoWrapper {
  width: calc(50% - 50px);

  &:nth-child(2n + 1) {
    margin-right: 25px;
  }
  &:nth-child(2n) {
    margin-left: 25px;
  }
}

video {
  width: 100%;
  border-radius: 20px;
}

